{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <h2>登录</h2>
        </div>
        <div class="form-bottom">
            <form role="form" action="" method="post" class="login-form">
                <div class="form-group">
                    
                    <input type="text" name="form-userphone" placeholder="手机号..." class="form-control form_in" id="form-username">
                </div>
                <div class="form-group">
                    
                    <input type="password" name="form-password" placeholder="密码..." class="form-control form_in" id="form-password">
                </div>
                <div class="form-group">
                    <input type="text" name="form-validation" placeholder="输入验证码..." class="form-control form_in" id="inputCode">
                </div>
                <div class="form-group">
				   <input type="text" onclick="createCode()" readonly="readonly" id="checkCode" class="img-rounded validate_code" value={{validate_code[0:4]}}>  
                    <div style="float:right;">
                        <input type="checkbox" style='width:20px;height:20px;margin-top:20%;' value="remember-me"> <font size="4">记住密码</font>
                    </div>
                </div>

                {{form.login(class="btn btn-success btn_main")}}
                {{form.register(class="btn btn-primary btn_main1")}}
                {{form.visitor(class="btn btn-primary btn_main2")}}


            </form>
        </div>
    </div>
</div>
{% endblock %}